.resume-card {
  position: relative;
  margin-top: 30px;
  padding-top: 20px;
  border: 1px solid black;
}

.applicant-info {
  margin-top: 30px;
}

.swipe {
  position: absolute;
  text-align: center;
  background-color: white;
}

.buttons button {
  margin-left: 100px;
  margin-right: 100px;
}